In [120]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error,accuracy_score
from sklearn.model_selection import train_test_split

In [1]:
path = "Customer_Churn_Modelling.csv"
data = pd.read_csv(path)

NameError: name 'pd' is not defined

In [122]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [123]:
data = data.replace("Female",0)
data = data.replace("Male",1)

C:\Users\leela\AppData\Local\Temp\ipykernel_4772\2205713962.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace("Male",1)

In [124]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [125]:
features = ["CreditScore" , "Age","Tenure" ,"Balance" ,"NumOfProducts","HasCrCard","IsActiveMember" ]

In [126]:
X = data[features]

In [127]:
y = data.Exited

In [128]:
ids = data.CustomerId

In [129]:
df_model = pd.DataFrame(X,y)

In [130]:
df_model

        CreditScore  Age  Tenure  NumOfProducts  HasCrCard  IsActiveMember
Exited
1               608   41       1              1          0               1
0               619   42       2              1          1               1
1               608   41       1              1          0               1
0               619   42       2              1          1               1
0               619   42       2              1          1               1
...             ...  ...     ...            ...        ...             ...
0               619   42       2              1          1               1
0               619   42       2              1          1               1
1               608   41       1              1          0               1
1               608   41       1              1          0               1
0               619   42       2              1          1               1

[10000 rows x 6 columns]

In [140]:
df_model.corr()

,CreditScore,Age,Tenure,NumOfProducts,HasCrCard,IsActiveMember
CreditScore,1.0,1.0,1.0,NaN,1.0,NaN
Age,1.0,1.0,1.0,NaN,1.0,NaN
Tenure,1.0,1.0,1.0,NaN,1.0,NaN
NumOfProducts,NaN,NaN,NaN,NaN,NaN,NaN
HasCrCard,1.0,1.0,1.0,NaN,1.0,NaN
IsActiveMember,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
data.dropna(axis=0)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [132]:
data.describe()

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,0.545700,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,0.497932,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,0.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,1.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,1.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [133]:
df_model.describe()

,CreditScore,Age,Tenure,NumOfProducts,HasCrCard,IsActiveMember
count,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.0
mean,616.759300,41.796300,1.796300,1.0,0.796300,1.0
std,4.430454,0.402769,0.402769,0.0,0.402769,0.0
min,608.000000,41.000000,1.000000,1.0,0.000000,1.0
25%,619.000000,42.000000,2.000000,1.0,1.000000,1.0
50%,619.000000,42.000000,2.000000,1.0,1.000000,1.0
75%,619.000000,42.000000,2.000000,1.0,1.000000,1.0
max,619.000000,42.000000,2.000000,1.0,1.000000,1.0

In [156]:
model = DecisionTreeClassifier(random_state=100)

In [157]:
trainx,valx,trainy,valy=train_test_split(X,y)

In [158]:
model.fit(trainx,trainy)

DecisionTreeClassifier(random_state=100)

In [152]:
accuracy_score(model.predict(valx),valy)

0.7652